<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Bandit movielens Recommender</title>
        <link href="{{ css_url }}" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class="row">
            <div class="col-md-2">
                <div class="jumbotron">
                    <h3>Introduction</h3>
                    <p>This page is running a bandit algorithm to "intellegently"
                                    test four versions of a movie recommender.</p>
                    <h5>You can checkout the current state for each recommenders <a href='/state' target="_blank">here</a></h5>
                    <h5>OR You can play again to click <a href='/' target="_blank">here</a></h5>
                </div>
                {% include 'footer.html' %}
            </div>
            <div class="col-md-8">
            <br>
                <h3>Let us know what is favorite movies so we can recommends something for you :)</h3>

                <div class="title">
                    <p id="step-1" class="lead">Step 1: Search for a set of movies</p>
                </div>
                <form id="rec">
                    <select id="movies" data-placeholder="find some movies you like : )" class="chosen-select" multiple></select>
                    <button class="btn" type="submit"> CLICK for recommendations</button>
                </form>
                <div>
                    <p class="step-2 lead">Step 2: Select the most relevant result </p>
                </div>
                <div id="reward">
                    <section class="results">
                        <p><strong>Top Ten Recommended Movies</strong></p>
                        <figure class="visualization row">
                            <div class="col-sm-6 col-1"></div>
                            <div class="col-sm-6 col-2"></div>
                        </figure>
                    </section>
                    <input id="u-id" type="hidden"/>
                    <input id="current-selection" type="hidden"/>
                    <p class="step-3 lead">Step 3: Submit feedback to the bandit platform</p>
                    <button id="reward-btn" class="btn" type="submit">Submit your movie preference</button>
                </div>
                <br/>
                <div id="result"></div>
            </div>

        </div>

        <script src="{{ jquery_url }}"></script>
        <script src="{{ highlight_url }}"></script>
        <script src="{{ movies_url }}"></script>
        <script src="{{ js_url }}"></script>
    </body>
</html>
