<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Bandit Recommender</title>
        <link href="{{ css_url }}" rel="stylesheet" type="text/css"></link>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <h3>Let Bandit help you choose the best Recommender</h3>
            <h4>State of the epsilon-Greedy Algorithm</h4>


            <table class="table">
                <thead>
                    <tr>
                        <th>Arm</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for arm in state.arms %}
                    <tr>
                        <td>{{ arm.number }}</td>
                        <td>{{ arm.name }}</td>
                        <td>{{ arm.count }}</td>
                        <td>{{ arm.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p class="lead">Current epsilon: <code>{{ state.epsilon }}</code></p>
        </div>
        <script src="{{ jquery_url }}"></script>
        <script src="{{ highlight_url }}"></script>
        <script src="{{ movies_url }}"></script>
        <script src="{{ js_url }}"></script>
    </body>
</html>
